.card {
    padding: 30px 4px 42px;
    text-align: center;

    @media (max-width: $md-max) {
        padding: 24px 4px 36px;
    }

    @media (max-width: $sm-max) {
        display: grid;
        text-align: left;
    }

    &, & * {
        font-family: 'Gilroy', sans-serif;
    }

    &__icon {
        margin: 0 auto 24px;
        width: 80px;
        height: 80px;
        border-radius: 16px;
        border: solid 1.5px #393939;
        color: $primary-header-color;
        display: flex;
        align-items: center;
        justify-content: center;

        & > svg {
            width: 34px;
            height: 34px;
            
            @media (max-width: $sm-max) {
                width: 28px;
                height: 28px;
            }
        }

        @media (max-width: $sm-max) {
            width: 68px;
            height: 68px;
            margin-right: 16px;
            grid-row: 1 / 3;
            grid-column: 1;
        }
    }

    &__header {
        margin-bottom: 16px;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        color: $primary-header-color;

        @media (max-width: $md-max) {
            font-size: 26px;
            line-height: 26px;
        }

        @media (max-width: $sm-max) {
            font-size: 22px;
            line-height: 22px;
            grid-row: 1;
            grid-column: 2;
        }
    }

    &__description {
        color: $light-gray-color;

        &, & * {
            font-weight: 300;
            font-size: 24px;
            line-height: 24px;

            @media (max-width: $md-max) {
                font-size: 20px;
                line-height: 20px;
            }
    
            @media (max-width: $sm-max) {
                font-size: 16px;
                line-height: 16px;
                grid-row: 1;
                grid-column: 2;
            }
        }

        @media (max-width: $sm-max) {
            grid-row: 2;
            grid-column: 2;
        }
    }

    &--line {
        &.card {
            padding: 0;
            height: 64px;
            border-radius: 12px;
            background-color: $roadmap-slide-color;
            border: solid 1.18px $roadmap-slider-border;
            color: $white-color;
            gap: 34px;
            display: flex;
            align-items: center;
            text-align: left;
            overflow: hidden;

            @media (max-width: $xl-max) and (min-width: $sm-min) {
                height: auto;
                flex-direction: column;
            }

            @media (max-width: $md-max) {
                gap: 30px;
            }

            &, & * {
                font-family: 'Bebas Neue', sans-serif;
                font-weight: bold;
                font-size: 30px;
                line-height: 30px;

                @media (max-width: $md-max) {
                    font-size: 26px;
                    line-height: 26px;
                }

                @media (max-width: $sm-max) {
                    font-size: 22px;
                    line-height: 22px;
                }
            }
        }

        .card {
            &__label,
            &__value {
                padding-top: 6px;
                height: 64px;
                display: flex;
                align-items: center;
                flex: 1 1 50%;

                @media (max-width: $xl-max) and (min-width: $sm-min) {
                    justify-content: center;
                }
            }

            &__value {
                padding-right: 16px;

                @media (max-width: $xxl-max) {
                    padding-right: 8px;
                    flex: 1 1 45%;
                }

                @media (max-width: $xl-max) and (min-width: $sm-min) {
                    padding-bottom: 16px;
                    padding-right: 0;
                    flex: 1 1 100%;
                    width: 100%;
                }

                @media (max-width: $sm-max) {
                    padding-left: 16px;
                }
            }

            &__label {
                padding-left: 16px;
                position: relative;
                color: $primary-color;
                background-color: $roadmap-slider-border;
                text-shadow: 0 0 6.48px $primary-btn-color;

                @media (max-width: $xxl-max) {
                    padding-left: 16px;
                    flex: 1 1 55%;
                }

                @media (max-width: $xl-max) and (min-width: $sm-min) {
                    position: relative;
                    padding-top: 16px;
                    padding-left: 0;
                    flex: 1 1 100%;
                    width: 100%;
                }

                &::before {
                    margin-bottom: 6px;
                    margin-right: 16px;
                    width: 12px;
                    height: 12px;
                    border-radius: 18px;
                    display: block;
                    content: '';
                    background-color: $primary-color;
                    box-shadow: 0 0 6.48px $primary-color;

                    @media (max-width: $xl-max) and (min-width: $sm-min) {
                        top: 50%;
                        left: 16px;
                        position: absolute;
                        transform: translateY(-2px);
                    }
                }

                &::after {
                    top: 0;
                    left: 100%;
                    position: absolute;
                    border-top: 33px solid transparent;
                    border-bottom: 33px solid transparent;
                    border-left: 20px solid $roadmap-slider-border;
                    display: block;
                    content: '';

                    @media (max-width: $xl-max) and (min-width: $sm-min) {
                        top: 100%;
                        left: 0;
                        right: 0;
                        padding-bottom: 100%;
                        width: 100%;
                        border: none;
                        background-color: $roadmap-slider-border;
                        clip-path: polygon(50% 8%, 0 0, 100% 0);
                    }
                }
            }
        }
    }
}