.dimer {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, .888);
    opacity: 0;
    visibility: hidden;
    transition: all .222s ease-in-out;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}