.faq {
    display: flex;
    padding: 100px 0;

    @media (max-width: $sm-max) {
        padding: 36px 0;
    }

    &__grid {
        gap: 42px 60px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr;

        @media (max-width: $lg-max) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: $md-max) {
            gap: 32px 38px;
        }

        @media (max-width: $sm-max) {
            grid-template-columns: 1fr;
            gap: 24px 32px;
        }
    }
}