.footer {
    position: relative;
    padding: 100px 0 40px;
    background-color: $footer-background-color;
    display: flex;
    flex-direction: column;

    hr {
        margin: 14px 0 30px;
        border: solid 1px $hr-color;
    }

    &::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background: linear-gradient($main-color 0%, transparent 36%, transparent 100%);
    }

    &__main-link {
        gap: 16px;
        display: flex;
        align-items: center;
        font-weight: bold;
        color: $white-color;


        @media (max-width: $ls-max) {
            width: 100%;
            justify-content: center;
        }

        &,
        & * {
            font-size: 42px;
            line-height: 42px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Bebas Neue', sans-serif;
        }
    }
    
    &__background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: top center;
    }

    .container {
        z-index: 3;
        position: relative;
        
        @media (max-width: $container-max) {
            width: 100%;
        }
    }

    &__nav {
        @media (max-width: $ls-max) {
            width: 100%;
        }
    }

    &__list,
    &__main-nav {
        gap: 30px;
        display: flex;
        align-items: center;

        @media (max-width: $ls-max) {
            width: 100%;
            flex-direction: column;
        }
    }

    &__link,
    &__list-item {
        @media (max-width: $ls-max) {
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }

    &__list {
        flex-wrap: wrap;
        color: $based-color;

        &, & * {
            font-family: 'Gilroy', sans-serif;
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
        }

        &--social {
            justify-content: flex-end;

            @media (max-width: $ls-max) {
                flex-direction: row;
                justify-content: center;
            }

            .footer__link {
                margin: -12px;
                padding: 12px;
                cursor: pointer;

                svg {
                    margin-bottom: -3px;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    transition: all .222s ease-in-out;
                }
            }

            .footer__list-item {
                width: 42px;
                height: 42px;
                border-radius: 21px;
                background-color: $roadmap-slider-border;
                box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    opacity: 1;

                    svg {
                        color: $primary-btn-color;
                        filter: drop-shadow(0 0 2.48px $primary-btn-color);
                    }
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &:first-child {
            @media (max-width: $lg-max) {
                gap: 36px;
                flex-direction: column;
            }
        }
    }

    &__link {
        margin: -10px -16px;
        padding: 10px 16px;
        transition: all .222s ease-in-out;
        display: block;

        &:hover {
            opacity: 1;
            color: $white-color;
        }

        @media (max-width: $xl-max) {
            margin: -10px;
            padding: 10px;
        }
    }

    &__mailto,
    &__copiright {
        font-family: 'Gilroy', sans-serif;
        font-weight: 300;
        font-size: 26px;
        line-height: 30px;
        color: $based-color;

        @media (max-width: $ls-max) {
            text-align: center;
        }

        @media (max-width: $md-max) {
            font-size: 22px;
            line-height: 26px;
        }

        @media (max-width: $sm-max) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__copiright {
        color: $white-color;
    }
}