// ------------- max -------------
$xxxl-max: 1599px;
$container-max: 1489px;
$xxl-max: 1199px;
$xl-max: 1099px;
$lg-max: 1023px;
$ls-max: 959px;
$md-max: 767px;
$sm-max: 599px;
$xs-max: 459px;

// ------------- min -------------
$xxl-min: 1600px;
$container-min: 1490px;
$xl-min: 1100px;
$lg-min: 1024px;
$md-min: 768px;
$sm-min: 600px;
$xs-min: 460px;