// colors by site

$white-color: #fff;
$light-gray-color: #ededed;
$black-color: #000;
$main-color: #050B0D;
$hr-color: #203034;
$roadmap-tabs-color: #0F1516;
$roadmap-tab-text-color: #161E20;
$roadmap-slider-border: #1B2729;
$roadmap-slide-color: #141E1F;
$based-color: #1B1B1B;
$dark-grin-color: #0D171A;
$primary-color: #5CFF82;
$primary-btn-color: #39C859;
$primary-header-color: #ADFF85;
$secendory-btn-color: #1B1B1B;
$based-color: #b0b0b0;
$filed-text-color: #818181;
$footer-background-color: #151E20;

$header-background: #091312;